html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0px;
  padding: 0px;
  border: 0px;
  font: inherit;
  box-sizing: border-box;
  vertical-align: baseline;
}

:root {
  --c-light: hsl(0, 0%, 98%);
  --c-middle: hsl(0, 0%, 41%);
  --c-dark: hsl(0, 0%, 8%);
}

body {
  position: relative;
  overflow-x: hidden;
  font-family: 'Epilogue', sans-serif;
}

ul {
  list-style: none;
}

br {
  display: none;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

a {
  text-decoration: none;
}
.container {
  width: 93.33%;
  margin: auto;
}

/* MOBILE */
.header {
  display: flex;
  justify-content: space-between;
  width: min(93.33%, 1360px);
  padding: 1.5em 0 2em 0.4em;
  margin-inline: auto;
}
.header .container {
  display: flex;
  justify-content: space-between;
}

.nav {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  right: 0;
  width: 240px;
  height: 100vh;
  background: #fff;
  padding: 1.25em 0.75em 1.25em 1.5em;
  overflow: scroll;
  transition: all 0.3s ease-in-out;
  z-index: 10;
}
.nav--hidden {
  width: 0;
  padding: 0;
  overflow: hidden;
}
.nav--wrapp {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  transition: all 0.3s ease-in-out;
  z-index: 9;
}
.nav__list {
  margin-top: 1.9em;
}
.nav__list:last-child {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
}
.nav__sublist {
  padding: 2em 1.5em 0.25em 1.5em;
  transition: all 0.1s ease-out;
}
.nav__sublist li:not(:last-child) {
  margin-bottom: 1.55em;
}
.nav__sublist--hidden {
  height: 0;
  padding: 0;
  overflow-y: hidden;
}
.nav__item {
  margin-bottom: 1.5em;
}
.nav__close {
  margin-left: auto;
}
.nav__title, .nav__link, .nav__link--btn {
  color: var(--c-middle);
  font-weight: 500;
  cursor: pointer;
}
.nav__title-btn {
  width: 1em;
  height: 1em;
  margin-left: 1em;
  background: url('/public/images/icon-arrow-down.svg') no-repeat center;
}
.nav__title-btn--active {
  background: url('/public/images/icon-arrow-up.svg') no-repeat center;
}
.nav__link {
  display: flex;
  align-items: center;
  gap: 0.9em;
}
.nav__link img {
  width: 1.1em;
  height: 1.1em;
}
.nav__link--btn {
  padding: 0.75em 1em;
}
.nav__link--btn-outline {
  border: 1px solid var(--c-middle);
  border-radius: 1em;
}


.hero {
  margin-bottom: 3.5em;
}
.hero__img {
  max-width: 100%;
  transform: scale(1.07);
}


.info {
  text-align: center;
  margin-bottom: 4em;
}
.info__title {
  font-size: 2.2em;
  margin-bottom: 0.55em;
  font-weight: 700;
  color: var(--c-dark);
}
.info__body {
  line-height: 26px;
  letter-spacing: 0.01em;
  color: var(--c-middle);
  margin-inline: auto;
  margin-bottom: 2.5em;
  width: 340px;
}
.info__btn {
  font-size: .995em;
  color: var(--c-light);
  background: var(--c-dark);
  border-radius: 1em;
  padding: 1em 1.35em;
}
.info__clients {
  margin-top: 4em;
  padding-inline: 1em;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 2em;
}
.info__clients img {
  width: 100%;
}

/* TABLET */
@media (min-width: 768px){
  .container {
    width: 60%;
    margin: auto;
  }
  .hero__img {
    transform: scale(1);
  }
}

/* LAPTOP */
@media (min-width: 1024px){
  body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
  }
  br {
    display: block;
  }
  .container {
    width: 81.5%;
    margin: auto;
    padding-block: 1.8em;
    padding-left: 2em;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  .header {
    width: min(97%, 1370px);
    padding: 1.5em 0 2.5em 0.4em;
    align-items: center;
    gap: 1.98em;
  }
  .logo {
    height: 100%;
  }
  .nav__menu, 
  .nav__close {
    display: none;
  }
  .nav {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    background: #fff;
    padding: 0;
    overflow: unset;
    z-index: 10;
  }
  .nav__item {
    position: relative;
    margin: 0;
  }
  .nav__list {
    display: flex;
    align-items: center;
    gap: 2.3em;
    margin: 0;
  }
  .nav__list:last-child {
    margin-left: auto;
    display: flex;
    justify-content: space-between;
  }
  .nav__sublist {
    position: absolute;
    right: 0;
    top: 2.5em;
    padding: 1.5em 2em 1.5em 1.5em;
    background: #fff;
    border-radius: 1em;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.25);
  }
  .nav__sublist:not(:last-child) {
    margin-bottom: 1em;
  }
  .nav__sublist--right {
    right: unset;
    left: 0;
  }
  .nav__sublist--hidden {
    height: 0;
    padding: 0;
    overflow-y: hidden;
  }
  .nav__title {
    width: auto;
    font-size: 0.88em;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .nav__title-btn {
    margin-left: 0.4em;
  }
  .nav__link {
    font-size: 0.94em;
    width: 100px;
  }
  .nav__link--btn{
    width: auto;
  }
  .nav__link--btn:hover,
  .nav__link--btn:focus {
    color: var(--c-dark);
  }
  .nav__link--btn-outline {
    padding-inline: 1.5em;
    border-width: 2px;
  }
  .nav__link--btn-outline:hover,
  .nav__link--btn-outline:focus {
    border-color: var(--c-dark);
  }

  .hero {
    width: 42%;
    margin-bottom: 0;
  }
  .hero__img {
    transform: scale(1);
  }
  
  .info {
    align-self: flex-end;
    width: 45%;
    text-align: left;
    margin-bottom: 0;
  }
  .info__title {
    font-size: clamp(3rem, -1.6277rem + 7.2308vw, 4.88rem);
    margin-bottom: 0.7em;
  }
  .info__clients {
    margin-top: 7em;
  }
  .info__body {
    width: 90%;
    font-size: 1.13em;
    margin-inline: 0;
    margin-bottom: 4.19em;
  }
  .info__btn {
    font-size: 1.1em;
    padding: 1em 1.8em;
  }
  .info__btn:hover,
  .info__btn:focus {
    color: var(--c-dark);
    background: var(--c-light);
    outline: 2px solid var(--c-dark);
  }
}